*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FF9999;
}
.im1{
    width: max-content;
}
.bar{
    width: 100%;
    height: 100px;
    background-color: #ed0a30;
    margin: 20px 0;
    align-items: center;
    justify-content: center; 
    position: relative;
}
